/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html, body {
  margin: 0;
  height: 100%;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


.title {
  font-size: 28px;
  font-weight: lighter;
}

.full-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.main {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ghostwhite;
}

.sub-main {
  width: 100%;
  padding: 40px;
  font-family: Helvetica, Arial;
  color: slategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ghostwhite;
  box-sizing: border-box;
}

.input-container {
  position: relative;
}

.complete-all {
  position: absolute;
  top: 27px;
  left: 10px;
  cursor: pointer;
}

.chevron::before {
  border-color: lavender;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron-active::before {
  border-color: slategrey;
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.input-list {
  margin: 17px 0;
  height: 35px;
  padding: 7px;
  padding-left: 35px;

  width: 100%;
  color: slategray;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.list-container {
  width: 75%

}

.list-item {
  height: 45px;
  padding: 7px 15px;
  background-color: whitesmoke;
  -webkit-box-shadow: 4px 3px 16px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 16px -8px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 16px -8px rgba(0,0,0,0.75);
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-item {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list-item-text {
  margin-left: 15px;
  font-size: 20px;
}

.text-completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.round {
  position: relative;
  height: 28px;
  width: 28px;
  cursor: pointer;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #66bb6a;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.close-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.close-item {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0.3;
  cursor: pointer;
}

.close-item:hover {
  opacity: 1;
}

.close-item:before, .close-item:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 24px;
  width: 2px;
  background-color: #333;
}

.close-item:before {
  transform: rotate(45deg);
}

.close-item:after {
  transform: rotate(-45deg);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  margin-top: 20px;
  background-color: whitesmoke;
  -webkit-box-shadow: 4px 3px 16px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 16px -8px rgba(0,0,0,0.75);
  box-shadow: 4px 3px 16px -8px rgba(0,0,0,0.75);
  padding: 5px;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
}

.footer > div {
  display: flex;
  align-items: center;
  height: 40px;
}

.footer-center-row {
  width: 50%;
  justify-content: center;
  text-transform: capitalize;
}

.footer-left {
  width: 25%;
}

.footer-right {
  width: 25%;
  justify-content: flex-end;
}

.footer-counter {
  font-size: 15px;
  padding-left: 12px;
}

.footer-button {
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0 8px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.footer-button:hover {
  border: 1px lightgray solid;
  box-sizing: border-box;
  /*background-color: lavender;*/
  cursor: pointer;
}

.footer-button-active {
  border: 1px steelblue solid !important;
  box-sizing: border-box;

}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

